
<%- include ('header'); %>

	<div>
		<div class="container mt-5">
		
			<div class="card-deck mt-5 ">
				<div class="card text-white bg-dark border-secondary mb-3" style="max-width: 540px;">
					<div class="row no-gutters ">
					  <div class="col-md-4">
						<img src="http://getwallpapers.com/wallpaper/full/2/2/9/303086.jpg" class="card-img" alt="..." border-success>
					  </div>
					  <div class="col-md-8">
						<div class="card-body ">
							<div class="card-header border-secondary">
								<h5 class="">My Profile</h5>
							</div>
						 
						  <p class="card-text mt-2">This is My Profile.<br><br></p>
						  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						  <div class="card-footer border-secondary">
							<a href="/home/profile" class="btn btn-sm btn-warning mt-2"> Profile >> </a>
						  </div>
						</div>
						
					  </div>
					</div>
				  </div>
				
				  <div class="card text-white bg-dark border-secondary mb-3" style="max-width: 540px;">
					<div class="row no-gutters ">
					  <div class="col-md-4">
						<img src="http://getwallpapers.com/wallpaper/full/d/e/f/182221.jpg" class="card-img" alt="..." border-success>
					  </div>
					  <div class="col-md-8">
						<div class="card-body ">
							<div class="card-header border-secondary">
								<h5 class="">My Movies</h5>
							</div>
						 
						  <p class="card-text mt-2">You can add details about your favorite watched movies and you also can add movies you wish to watch in future. </p>
						  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
						  <div class="card-footer border-secondary">
							<a href="/home/list" class="btn btn-sm btn-success mt-2"> My Movie List >> </a>
							<a href="/home/wishlist" class="btn btn-sm btn-primary mt-2"> My Wish List >> </a>
						  </div>
						</div>
						
					  </div>
					</div>
				  </div>
			  </div>
		</div>
	</div>
	

<%- include ('footer'); %>